body{
  text-align:center;
 font-family:Open Sans,sans-serif;
  background-color:#c578;
  color:#131212;
  margin-block-end:0;
}
h2{
  color:#cf0c0c;
  font-size:30px
}

.titulo-verde{
  color:#04ff9f;
}

.titulo-rosa{
  color:#ff9e9e
}

.titulo-amarelo{
  color:#ffe36d
}
section{
 max-width:60%;
  margin: 0 auto;
  }
